<p>There are {{totalCarParts()}} total parts in stock.</p>
<ul>
    <li class="card"  *ngFor="let carPart of carParts; let i=index" [class.featured]="carPart.featured">
        <div class="panel-body">
            <div class="photo">
                <img [src]="carPart.image">
            </div>
            <table class="product-info">
                <tr>
                    <td>
                        <h2>{{i+1 | ordinal}}. {{carPart.name | uppercase}}</h2>
                        <p class="description">{{carPart.description}}</p>
                        <p class="inventory">{{carPart.inStock| stock}}</p>
                    </td>
                    <td class="price">
                        {{carPart.price | currency:'EUR'}}
                    </td>
                    <td>
                        <div class="select-quantity">

                            <button class="decrease" (click)="downQuantity(carPart)">-</button>
                            <input type="text" class="number" [(ngModel)]="carPart.quantity"/>
                            <!--{{carPart.quantity}}-->
                            <button class="increase" (click)="upQuantity(carPart)">+</button>

                        </div>


                    </td>
                </tr>
            </table>
        </div>
    </li>
</ul>